
 body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 12px;
            text-align: left;
            font-size: 12.5px;
        }
        th {
            background-color: white;
            cursor: pointer;
        }
        th:hover {
            background-color: #e9e9e9;
        }
        .even-row {
            background-color: #f9f9f9;
        }
        .odd-row {
            background-color: #EAEAEA;
        }
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
        .btn-green, .btn-red, .btn-orange{
            color: white;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 2px;
            text-align: center;
            cursor: pointer;
            font-size: 12px;
            line-height: 8px;
			margin-right: 10px;
        }

        .btn-green {
            background-color: limegreen;
        }
        .btn-orange {
            background-color: orange;
        }
        .btn-red {
            background-color: red;
        }
		
       



.status-summary {
    margin-left: auto;
    display: flex;
    align-items: center;
	padding-right: 2%;
}
.table-controls {
	 margin-right: 220px;  
}

.table-controls label {
    margin-right: 2px;
}

.rows-select {
    margin-left: 7px;
    padding: 5px;
	border-radius: 8px;
	font-size: 14px;
	margin-right: 7px;

}

.order-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
	
	
}


.order-summary-btn i {
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.search-input {
    padding: 12px 20px;
    border: 1.5px solid #ddd;
    border-radius: 12px 0 0 12px;
    outline: none;
	font-size: 16px;
	width: 70%;
	

}

.search-btn {
    padding: 11px;
     border: 1.6px solid #ddd; 
    border-left: none;
    background-color: white;
    border-radius: 0 13px 13px 0;
    cursor: pointer;	
}

.navbar-iconPlace {
     width: 16px;  
    height: 14px;
    margin-right: 5px;  
    vertical-align: left;  
}

.entete th, .entete td {
border-bottom: 1px solid #333;
 
}
.table1{
	border-collapse: collapse;
	

}
.table1 th, .table1 td {
text-align: center; 
vertical-align: middle;	 
}

.cart-container {
    margin-top: 2%;
}

.cart-btn {
    padding: 6px 10px;
    background-color: #ffa607;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
	 font-weight: bold;
	 font-size : 14px;
	 margin-top : -10%;
}

.cart-btn i {
    margin-left: 18px;
}
.details-row {
            display: none;
            background-color: #EAEAEA;
        }
        .details-row td {
            padding: 35px;
        }
        .details-content {
            display: flex;
            align-items: center;
        }
        .details-content img {
            margin-right: 50px;
            max-width: 200px;
        }
        
        .btn-Bill {
               padding: 3px 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	border: 0.75px solid #999999;
     color: black;
	 background-color:   #e6e6e6;
	  font-size: 12px;
			
        }
        .btn-Place {
            background-color: #59a735;
            color: white;
            padding: 2px 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 12px;
        }
.btn-Bill:hover{
	 opacity: 0.7;
}
.btn-Place:hover{
	background-color: #45a049;
}


.btns {
    display: flex;
    margin-top: 45px;
}

.btns button {
    margin-left: 20px;
}



.details-row td {
    padding: 20px;
}

.details-info table {
    width: 200%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details-info th, .details-info td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.details-info th {
    background-color: #f5f5f5;
}
.details-info {
    margin-left: 36%;
}

.details-info3, .details-info4 {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
	text-align: left;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-info1 {
  grid-column: 1;
    float: right;

}

.details-info2 {
  grid-column: 3;

}	
.details-info1, .details-info2 {
    width: 85%;
	
}
.details-info3, .details-info4 {
    width: 380px;
	border-radius: 12px; 
     overflow: hidden; 
}
.order-summary1 {
    width: 700px;
	height: 216px;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f9f9f9;
	border-radius: 12px; 
     overflow: hidden; 
    
}

.order-summary1 th, .order-summary1 td {
    padding: 12px 15px;
    text-align: left;
}

.order-summary1 th {
    background-color: #FAFAFA;
    font-weight: bold;
}

.order-summary1 tr:nth-child(even) {
    background-color: #f0f0f0;
}

.order-summary1 tr:nth-child(odd) {
    background-color: #FAFAFA;
}

.order-summary1 .total-row {
    background-color: #d8d8d8;
    font-weight: bold;
}

.order-summary1 .total-row td {
    text-align: right;
	background-color: #999999;
	color: white;
}

.order-summary1 .total-row td:last-child {
	text-align: left;
}
.entête1{
	background-color: #FAFAFA;	
}

.entête1 th, .entête1 td {
border-bottom: 1px solid #333;
}


/* Style pour la popup Place Order */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 30px;
    border: 1px solid #888;
    width: 39%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 14px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
	margin-left : -8%;
	margin-top: -9%;

}

.close:hover, .popup-cancel:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.popup-delete {
    background: none;
    border: none;
    cursor: pointer;
	margin-left: 75%;
	margin-top : 10%;
	
}

.popup-delete-icon {
    width: 35px;
    height: 35px;
	
}

.popup-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}


.popup-select {
    width: 260px;
	height: 32px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
	margin-right : 10px;
}
.popup-input{
    width: 35%;
    height: 32px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.popup-cancel {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
	margin-left: 10px;
}

.popup-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-add-site,
.popup-validate {
    background-color: #59A735;
    color: white;
    padding: 4px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.popup-validate {
    background-color: #59A735;
	margin-top: 3%;
}
.popup-validate:hover{
	opacity: 0.8;
}
.popup-add-site {
    background-color: transparent;
    color: #000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.popup-add-site::before {
    margin-right: 5px;
}
.left-align2 {

	font-weight: bold;
    margin-top: -5%;
}
.left-align0 {
    text-align: left;
	margin-right: 15px;
	margin-top: 1%;

}

